<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EasyMusic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
      <EasyMusic.Properties.Settings>
        <setting name="NormalLrcFontSize" serializeAs="String">
          <value>24</value>
        </setting>
        <setting name="HighlightLrcFontSize" serializeAs="String">
          <value>36</value>
        </setting>
        <setting name="TextLrcFontSize" serializeAs="String">
          <value>28</value>
        </setting>
        <setting name="Volumn" serializeAs="String">
          <value>1</value>
        </setting>
        <setting name="Topmost" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ShowLrc" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="SaveLrcOffsetByTag" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="PreferMusicInfo" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="LrcAnimation" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="LrcDefautOffset" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="UpdateSpeed" serializeAs="String">
          <value>30</value>
        </setting>
        <setting name="AnimationFps" serializeAs="String">
          <value>60</value>
        </setting>
        <setting name="ShowFloatLyric" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="MaxWindow" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="Top" serializeAs="String">
          <value>200</value>
        </setting>
        <setting name="Left" serializeAs="String">
          <value>300</value>
        </setting>
        <setting name="Height" serializeAs="String">
          <value>600</value>
        </setting>
        <setting name="Width" serializeAs="String">
          <value>1000</value>
        </setting>
        <setting name="BackgroundColor" serializeAs="String">
          <value>#FFEBF1DD</value>
        </setting>
        <setting name="LastMusic" serializeAs="String">
          <value />
        </setting>
        <setting name="CycleMode" serializeAs="String">
          <value>1</value>
        </setting>
        <setting name="FloatLyricsHighlightFontSize" serializeAs="String">
          <value>40</value>
        </setting>
        <setting name="FloatLyricsNormalFontSize" serializeAs="String">
          <value>30</value>
        </setting>
        <setting name="FloatLyricsHeight" serializeAs="String">
          <value>200</value>
        </setting>
        <setting name="FloatLyricsWidth" serializeAs="String">
          <value>800</value>
        </setting>
        <setting name="FloatLyricsTop" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="FloatLyricsLeft" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="TrayMode" serializeAs="String">
          <value>3</value>
        </setting>
        <setting name="Pitch" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="Tempo" serializeAs="String">
          <value>100</value>
        </setting>
        <setting name="SampleRate" serializeAs="String">
          <value>48000</value>
        </setting>
        <setting name="ConfigPath" serializeAs="String">
          <value>%APPDATA%\EasyMusic</value>
        </setting>
        <setting name="LastMusicList" serializeAs="String">
          <value />
        </setting>
        <setting name="FloatLyricsFontEffect" serializeAs="String">
          <value>1</value>
        </setting>
        <setting name="FloatLyricsFontColor" serializeAs="String">
          <value>#FFFFFFFF</value>
        </setting>
        <setting name="FloatLyricsThickness" serializeAs="String">
          <value>1.5</value>
        </setting>
        <setting name="FloatLyricsBlurRadius" serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="FloatLyricsBorderColor" serializeAs="String">
          <value>#FF000000</value>
        </setting>
        <setting name="FloatLyricsFontBold" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="FloatLyricsFont" serializeAs="String">
          <value>微软雅黑</value>
        </setting>
        <setting name="LyricsFont" serializeAs="String">
          <value>微软雅黑</value>
        </setting>
        <setting name="LyricsFontColor" serializeAs="String">
          <value>#FF000000</value>
        </setting>
        <setting name="LyricsFontBold" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="RecordListenHistory" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ThresholdValueOfListenTime" serializeAs="String">
          <value>30</value>
        </setting>
        <setting name="AnimationDuration" serializeAs="String">
          <value>00:00:00.8000000</value>
        </setting>
        <setting name="SpeechRecognitionCommand" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="KeepMusicSettings" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="VolumnChangeTime" serializeAs="String">
          <value>00:00:00.8000000</value>
        </setting>
      </EasyMusic.Properties.Settings>
    </userSettings>
</configuration>
